# Created by .ignore support plugin (hsz.mobi)
Example.py
Main.py
reference.txt
.idea/ModelEstatistica.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
__pycache__/
.idea/scaling-broccoli.iml

